body{
    font-family: sans-serif;
    line-height: 30px;
    letter-spacing: 1.3px;
   color: rgb(236, 236, 236);
   margin: 0;
   padding: 0;
   background-color: rgb(34, 34, 34);
   overflow-x: hidden;
 }
.container-fluid{
    padding: 0;
    margin: 0
}
 header {
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
    margin-bottom: 3rem;
  }
  
  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  header .container {
    position: relative;
    z-index: 2;
  }
  
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(201, 201, 201);
    opacity: 0.5;
    z-index: 1;
  }
  .row{
    color: rgb(77, 77, 77);
    margin-bottom: 7rem;
  }
  .card-header1 , .card-header2 {
  background-color: rgb(24, 19, 41); 
  color: white;
  }
  .list-group{
    height: 100%;
  }
  .card{
    height: 100%;

  }
  .card2{
    color: black;
    background-color: rgb(243, 243, 243);
  }
  @media (pointer: coarse) and (hover: none) {
    header {
      background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }
    header video {
      display: none;
    }
  }
  @media (max-width:1100px){
    .col-lg-4{
      margin-bottom: 2rem;
    }
  }
  