body{
    font-family: sans-serif;
    line-height: 30px;
    letter-spacing: 1.3px;
   color: rgb(236, 236, 236);
   margin: 0;
   padding: 0;
   background-color: rgb(34, 34, 34);
   overflow-x: hidden;
  
 }
.container-fluid{
    padding: 0;
    margin: 0
}

.bg-image-full {
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
   height: 50vh;
  }
.dark{
    background-color: rgb(34, 34, 34);
}