.container-fluid{
    padding: 0
}

.image{
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
}
#home{
    color: brown;
    font-weight: bold
  }
.row{
    text-align: center;
    margin: 5rem;
    padding-bottom: 20px;
    border-bottom: solid 0.5px rgba(65, 58, 83, 0.836);
}
.img-fluid{
    width: 100%;
    height: auto;
}
#p{
    width: 80%;
    margin: auto;
    line-height: 30px
}

#m{
    margin: auto;
    background-color: rgb(24, 35, 49)
}
#l{
    margin: auto;
    background-color: rgb(56, 27, 51)
}
.font{
    color: rgb(10, 146, 180);
    font-size: 50px
}
h5{
    margin-bottom: 2rem
}
body{
   font-family: sans-serif;
   line-height: 30px;
   letter-spacing: 1.3px;
  color: rgb(236, 236, 236);
  margin: 0;
  padding: 0;
  background-color: rgb(34, 34, 34);
     
}
.flex{
    display: flex;
    justify-content: center;
    
}
.p{
   display: flex;
   justify-content: center;
    box-shadow:  0px 0px 10px  rgb(156, 152, 152);
    width: 70%;
    height: 60vh;
    margin: 5rem;
    background-color: rgb(102, 102, 102)
}


.row{
     margin: 1.5rem;
     }
.image{
     margin-top: 20px;
     }

#list{
    margin-bottom: 15rem
}
